name: Tests

on:
  pull_request:

jobs:
  unit-tests:
    uses: canonical/operator-workflows/.github/workflows/test.yaml@main
    secrets: inherit
    with:
      charmcraft-channel: latest/edge
      self-hosted-runner: true
      self-hosted-runner-image: "noble"
      vale-style-check: false
      with-uv: true
  integration-tests:
    uses: 
      canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      channel: 1.28-strict/stable
      charmcraft-channel: latest/edge
      juju-channel: 3.4/stable
      self-hosted-runner: true
      self-hosted-runner-image: "noble"
      microk8s-addons: "dns ingress rbac storage metallb:10.64.140.43-10.64.140.49"
      pre-run-script: tests/integration/prepare.sh
      with-uv: true
  allure-report:
    if: always() && !cancelled()
    needs:
    - integration-tests
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main
